* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fbfe;
  margin-left: 20%;
  margin-right: 20%;
}

h1,
h2 {
  font-family: 'Karla', sans-serif;
}
/* Home Screen------------ */
.app-main {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.add-button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}
/* Item Cards------------ */
.cards-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.website-name {
  font-family: 'Karla', sans-serif;
}
/* Modal------------ */
.modal-input-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-input-container .mantine-InputWrapper-root {
  margin-bottom: 15px;
  flex: 1;
}

.modal-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}

.mantine-TextInput-label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.mantine-PasswordInput-label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
/* Add Modal------------ */
.addm-button-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.addm-button {
  font-family: 'Inter', sans-serif;
}

.copyicon {
  margin-top: 8px;
}

.generateicon {
  margin-top: 8px;
}
