* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fbfe;
  margin-left: 20%;
  margin-right: 20%;
}

h1,
h2 {
  font-family: 'Karla', sans-serif;
}
/* Home Screen------------ */
.app-main {
  text-align: center;
}

.title {
  font-size: 2.8rem;
}

.home-button-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 10px;
}

.home-button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.password-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Item Cards------------ */
.card {
  cursor: pointer;
}

.cards-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.website-name {
  font-family: 'Karla', sans-serif;
}
/* Modal------------ */
.modal-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}

.modal-description {
  font-size: 1.3rem;
  font-weight: normal;
}

.modal-input-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-input-container .mantine-InputWrapper-root {
  margin-bottom: 15px;
  flex: 1;
}

.mantine-TextInput-label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.mantine-PasswordInput-label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.modal-button-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.modal-button {
  font-family: 'Inter', sans-serif;
}

.modal-delete-button {
  font-family: 'Inter', sans-serif;
  margin-left: auto;
}

.copyicon {
  margin-top: 9px;
}

.generateicon {
  margin-top: 9px;
}
